h1 > a {
    color: #FCA205;
}
.page-header > h1 > a, a:hover, a:visited {
    text-decoration: none;
    color: #FCA205;
}

.panel {
    padding-right: 0;
    padding-left: 0;
}
.panel > a, a:visited {
    text-decoration: none;
    color: black;
}
.panel > panel-heading > h4 > a {
    color: black;
    text-decoration: none;
}
.panle > a:hover {
    color: darkgray;
}

h3 {
    margin-top: 10px;
    margin-left: 10px;
}
.author {
    text-align: right;
    margin-bottom: 5px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.page-header {
    margin-top: 20px;
}

a.home {
    color: white;
}